# Python/Django
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
*.log
db.sqlite3
media/

# Virtual environment
venv/
env/
.venv/

# PyCharm
.idea/

# macOS
.DS_Store

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
local_settings.py
*.pot
*.mo

# dotenv
.env
